# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/

# IDEA
.idea/
.env

# Python
.venv/

# Chroma vector database
chroma_db_/
chroma_db/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/